<div class="container">
  <h1>URL shortener</h1>
  <a href="../">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
  </a>
  

  {{#unless url}}
  {{#unless errorMessage}}
  <form action="/shorten" method="POST" class="input-form" id="input-form">
    <input class="input-url" type="text"  placeholder="http(s)://" name="url" >
    <button  class="input-btn" type="submit" form="input-form">shorten</button>
  </form>

  {{/unless}}
  {{/unless}}

  

  {{#if url}}
    <h2>Success! Please use the link:</h2>
    <a href="{{ url }}" class="link">{{ url }}</a>
    <button class="copy-btn">copy</button>
    <a href="../">Back</a>
  {{/if}}

  {{#if errorMessage}}
    <h2>Sorry...we have some problems...<br>{{ errorMessage }}</h2>
    <a href="../">Back</a>
  {{/if}}
</div>

<script>
const link = document.querySelector('.link')
const copyBtn = document.querySelector('.copy-btn')
const inputUrl = document.querySelector('.input-url')
const inputForm = document.querySelector('.input-form')
const submitBtn = document.querySelector('.input-btn')

if (inputForm) {
  inputForm.addEventListener('submit', e => {
  if (inputUrl.value.trim().length === 0) {
    e.stopPropagation()
    e.preventDefault()
    alert('Input value cannot be empty.')
    return
  }
  submitBtn.disabled = true
})

}

if (copyBtn) {
  copyBtn.addEventListener('click', e => {
  navigator.clipboard.writeText(link.textContent)
  e.target.classList.add('clicked')
  setTimeout(() => {
    e.target.classList.remove('clicked')
  }, 3000)

})
}


</script>